<div class="login-page-wrap">
  <div class="login-box">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" />
        <div class="error-list"></div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
        <div class="error-list"></div>
      </mat-form-field>
      <button type="submit" mat-button [routerLink]="'/dashboard'" class="btn-primary">Login</button>
    </form>
  </div>
</div>
