<table mat-table [dataSource]="dataSource" class="url-table">
  <ng-container matColumnDef="shortUrl">
    <th mat-header-cell *matHeaderCellDef class="col-30">Short Url</th>
    <td mat-cell *matCellDef="let url" class="col-30">{{ url.shortUrl }}</td>
  </ng-container>

  <ng-container matColumnDef="longUrl">
    <th mat-header-cell *matHeaderCellDef class="col-60">Long Url</th>
    <td mat-cell *matCellDef="let url" class="col-70">{{ url.longUrl }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="col-10"></th>
    <td mat-cell *matCellDef="let row" class="col-10">
      <button mat-icon-button [routerLink]="['/urls', row.id]">
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[20, 50]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
