
node_modules/
dist/
.tmp/
.angular/
coverage/
npm-debug.log
yarn-error.log
package-lock.json
.env

# User secrets
secrets.json

########################################
# VS Code
########################################
.vscode/
.history/

########################################
# OS generated
########################################
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini
$RECYCLE.BIN/

# Logs
*.log

# Publish output
wwwroot/

# Rider
.idea/
*.sln.iml

########################################
# Optional: SSL Dev Certs
########################################
*.pfx
*.pem