########################################
# Node / Angular
########################################
node_modules/
dist/
.tmp/
.angular/
coverage/
npm-debug.log
yarn-error.log
package-lock.json
.env

########################################
# ASP.NET Core / .NET
########################################
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.log
*.vspscc
*.vssscc
project.lock.json
project.fragment.lock.json
artifacts/
*.ide

# User secrets
secrets.json

# Entity Framework Migrations metadata
Migrations/

########################################
# Visual Studio
########################################
.vs/
*.psess
*.vsp
*.vspx
*.vsmdi
TestResults/
*.ncb
*.sdf
*.cache
*.dbmdl
*.bak
*.bak2

########################################
# VS Code
########################################
.vscode/
.history/

########################################
# OS generated
########################################
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini
$RECYCLE.BIN/

# Logs
*.log

# Publish output
wwwroot/

# Rider
.idea/
*.sln.iml

########################################
# Optional: SSL Dev Certs
########################################
*.pfx
*.pem