<div class="form-wrap">
  <h2>Create URL</h2>
  <form [formGroup]="form" (ngSubmit)="onAddClicked()">
    <mat-form-field>
      <mat-label>Enter long url</mat-label>
      <input matInput formControlName="longUrl" />
      <div class="error-list"></div>
    </mat-form-field>
      <button type="submit" mat-button class="btn-primary">Create</button>
      <button
        type="submit"
        mat-button
        class="btn-primary"
        [routerLink]="'/dashboard'"
      >
        Back
      </button>
  </form>
</div>
